ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBC40E;
}

li {
    float: left;
}

li a {
    display: block;
    color: #343F71;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F34C19;
}

* {
    font-family: Arial, serif;
}

h1 {
    text-align: center;
}
