<div>
    <div class="flex-container">
        <div class="flex-element"
             [class.empty]="product.amountInStock === 0"
             [class.expired]="isExpired(product.expirationDate)">

            <img *ngIf="product.imageUrl; else emptyImg" [src]="product.imageUrl" height="100px">

            <ng-template #emptyImg>
                <img src="assets/empty-picture.jpg" height="100px" class="image">
            </ng-template>

            <div>
                <h2 style="text-align: center">{{product.name}}</h2>
            </div>
        </div>
    </div>
</div>
